/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***********************************************************/

body {
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(250, 240, 230);
}

.header {
    background: rgb(51, 204, 204);
    padding: 1em 1em;
    text-align: center;
}

.container.main {
    display: grid;
    grid-template-columns: 1fr 7fr;
    height: 85vh;
}

.col-left {
    background: rgba(51, 204, 204, 0.699);
}

.col-right {
    background: rgb(250, 240, 230);
    border: 2px solid black;
}

.content.main {
    background: yellow;
    margin: 1em;
}

form div {
    padding: 0.5em;
}

.col-left>button {
    margin: 1em;
    padding: 1em 5em;
}

.container.form {
    display: table;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.login.form {
    display: table-cell;
    vertical-align: middle;
}

.container.discussion {
    padding: 1em;
    border: 2px solid black;
}

.container.discussion>div>* {
    display: inline-block;
}

.container.discussion>button {
    display: block;
}