<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Home</title>
</head>

<body>
  <div class="header">
    <h1>Home</h1>
  </div>

  <div class="container main">
    <div class="col-left">
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button>Button 4</button>
    </div>
    <div class="col-right">
      <div class="content main">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos sint
          voluptas voluptates et quas asperiores esse quisquam a aliquam fuga
          natus unde molestias quis odio, ipsa, officiis, libero suscipit
          atque.
        </p>
      </div>
    </div>
  </div>
</body>

</html>